$color-info: rgb(160, 219, 242);
$color-main-light: rgb(242, 240, 206);
$color-main-dark: rgb(242, 195, 53);
$color-btn: rgb(242, 129, 29);
$color-warnning: rgb(166, 38, 27);
$typo: #333;
$typo-dark: #222;
$typo-shadow: #000;
