/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 100%;
  height: 497px;
  background: url('../../../content/images/jhipster_family_member_1.svg') no-repeat center top;
  background-size: contain;
}

.LoginPage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.LoginForm {
  flex: 3;
  text-align: center;
  padding: 10px;
  .card {
    padding-top: 10px;
  }
}
.LoginForm:nth-child(1),
.LoginForm:nth-child(3) {
  flex: 2;
}
@media (min-width: 576px) and (max-width: 992px) {
  .LoginForm:nth-child(1),
  .LoginForm:nth-child(3) {
    flex: 1;
  }
}
@media (max-width: 576px) {
  .LoginForm:nth-child(1),
  .LoginForm:nth-child(3) {
    flex: 0 1 50%;
  }
  .LoginForm:nth-child(2) {
    flex: 1 0 100%;
    order: 2;
  }
}
